<a href="https://colab.research.google.com/github/ENV716/Energy_Modeling_F2022/blob/main/Lab/Lab04/Lab04_Exercises_SOLUTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab 04 â€“ Exercises**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks/')

In [4]:
import pandas as pd
import numpy as np

## Exercise 1: Create a function that filters generators by primary fuel and returns total installed capacity

The function should take two arguments: a data frame containing the GEN19 spreadsheet from egrid and a primary fuel source. Note that you will need to import the spreadsheet first and then call the function. The function should filter the data frame by the fuel source specified and calculate total installed capacity. Note that the fuel source you specify should match elements in column FUELG1. \\
Remember to give you function a informative name.

In [5]:
def FindTotalCap (df, fuel):
  sub_df = df[(df.FUELG1==fuel)]  #filter by fuel
  return(sub_df['NAMEPCAP'].sum()) #calculate sum of column NAMEPCAP

Now run the function to find total installed capacity for fuel = "SUN" and output the results using print and format(). Your number should have three decimal points.

In [6]:
df_gen = pd.read_excel(io="egrid2020_data.xlsx",sheet_name="GEN20",skiprows=1,keep_default_na=False)
df_gen.head(5)

,SEQGEN20,YEAR,PSTATABB,PNAME,ORISPL,GENID,NUMBLR,GENSTAT,PRMVR,FUELG1,NAMEPCAP,CFACT,GENNTAN,GENNTOZ,GENERSRC,GENYRONL,GENYRRET
0,1,2020,AK,7-Mile Ridge Wind Project,60814,WT1,0,CN,WT,WND,1.8,,,,,,
1,2,2020,AK,Agrium Kenai Nitrogen Operations,54452,744A,0,OS,GT,NG,2.5,,,,,1977,
2,3,2020,AK,Agrium Kenai Nitrogen Operations,54452,744B,0,OS,GT,NG,2.5,,,,,1977,
3,4,2020,AK,Agrium Kenai Nitrogen Operations,54452,744C,0,OS,GT,NG,2.5,,,,,1977,
4,5,2020,AK,Agrium Kenai Nitrogen Operations,54452,744D,0,OS,GT,NG,2.5,,,,,1977,

In [7]:
df_gen.dtypes
df_gen.NAMEPCAP = pd.to_numeric(df_gen.NAMEPCAP)

In [8]:
total_sun = FindTotalCap(df_gen,"SUN")
print("Total Installed Capacity for Sun is {0:.3f}".format(total_sun))

Total Installed Capacity for Sun is 103799.800

In [9]:
#You can also call the fucntion inside format()
print("Total Installed Capacity for Wind is {0:.3f}".format(FindTotalCap(df_gen,"WND")))

Total Installed Capacity for Wind is 165491.800

In [10]:
#You can also create a strinf if you plan to use txt more than once
txt = "Total Installed Capacity for {0:6} is {1:.3f}"
fuel = "BIT"
print(txt.format(fuel,FindTotalCap(df_gen,"BIT")))

Total Installed Capacity for BIT    is 147838.300

## Exercise 2: Modify the function such that egrid is imported within the function

Now instead of taking the data frame, the function should take name of the file and the name of the spreadsheet to be imported, i.e., you will need to call pd.read_excel() inside the function. Remember to give another name to the new function, so you do not loose the one you defined in Example 5.

In [11]:
def FindTotalCapFromExcel (filename, sheetname, fuel):
  df = pd.read_excel(io=filename,sheet_name=sheetname,skiprows=1,keep_default_na=False)
  sub_df = df[(df.FUELG1==fuel)]
  return(sub_df['NAMEPCAP'].sum())

In [15]:
print("Total Installed Capacity for Wind",FindTotalCapFromExcel("egrid2020_data.xlsx","GEN20","WND"))

Total Installed Capacity for Wind 165491.80000000008

Note that it took a bit longer now to output results because the file is imported within the function. Now try to acess the data frame df by typing df.head(10). What happens?

In [14]:
df.head(10)

NameError: ignored

Since the file was imported within the function environment it will not be acessible outside the function.